<connectionStrings>
  <!-- Local    -->
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=TapeandoAuth;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="AuthContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=TapeandoAuth;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="TapeandoDB" connectionString="Data Source=.\sqlexpress;Initial Catalog=Tapeando;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="TapeandoContext" connectionString="metadata=res://*/Models.TapeandoContext.csdl|res://*/Models.TapeandoContext.ssdl|res://*/Models.TapeandoContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Tapeando;integrated security=True;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  <!-- IS_1
  <add name="Database" connectionString="Data Source=IS_1;Initial Catalog=ExigoFrameworkTemp;User=sa;Password=Is0t0pe" providerName="System.Data.SqlClient"/>
-->

  <!-- Live    
  <add name="Database" connectionString="Data Source=159.253.208.181,1334;Initial Catalog=Test_ExigoFramework;User=AltiusUser;Password=Is0t0pe" providerName="System.Data.SqlClient"/>
-->



</connectionStrings>