<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TapeandoDB" connectionString="Data Source=.\sqlexpress;Initial Catalog=Tapeando;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <!--TapeandoContextContainer<add name="DefaultConnection" connectionString="metadata=.\SSModel.csdl|.\SSModel.ssdl|.\SSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADRIALT;initial catalog=Tapeando;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TapeandoDB" connectionString="metadata=res://*/Models.SafeShopContext.csdl|res://*/Models.SafeShopContext.ssdl|res://*/Models.SafeShopContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;Initial Catalog=Tapeando;Integrated Security=SSPI;&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TapeandoContextContainer" connectionString="metadata=res://*/Models.TapeandoContext.csdl|res://*/Models.TapeandoContext.ssdl|res://*/Models.TapeandoContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Tapeando;integrated security=True;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TapeandoDB"      connectionString="metadata=res://*/Models.TapeandoContext.csdl|res://*/Models.TapeandoContext.ssdl|res://*/Models.TapeandoContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Tapeando;integrated security=True;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="TapeandoContext" connectionString="metadata=res://*/Models.TapeandoContext.csdl|res://*/Models.TapeandoContext.ssdl|res://*/Models.TapeandoContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Tapeando;integrated security=True;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>